* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(./Background.png);
	margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

html {
  min-width: 199px;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.subtitle {
	font-size: 50px;
	font-weight: bold;
	color: white;
	margin-top: 0;
	margin-bottom: 10px;
}

.firstpage__text {
	font-size: 15px;
	font-weight: bold;
	color: white;
	margin-top: 0;
}

.level {
	font-size: 43px;
	color: white;
	font-weight: bold;
	cursor:pointer;
}

.level:hover {
	background-image: : url(./Rectangle.png);
}

#level__light,
#level__medium,
#level__hard {
	cursor: pointer;
}

.firstpage__button {
	color: white;
	font-size: 32px;
	font-weight: bold;
	background-color: #D62B2E;
	cursor: pointer;
	width: 352px;
	height: 95px;
}
.img__card1 {
	position: absolute;
	left: 726.33px;
	top: 150px;
}

.img__card2 {
	position: absolute;
	left: 850px;
	top: 165px;;
}

.section__levellight,
.section__levelmedium,
.section__levelhard {
	display: none;
}

.section__disappear {
	display: none;
}

.table {
	display: flex;
	flex-direction: row;
	perspective: 1000;
}

.flip {
  transform: rotateY(180deg);
}

.card {
  transition: 0.6s;
  transform-style: preverse-3d;
  position: relative;
}

.frontside {
  backface-visibility: hidden;
  z-index: 2;
}

.backside{
  transform: rotateY(180deg);
}

.backcard {
  display: none;
}

.hide {
  display: none;
}
